<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">title</title>
</head>
<body>
    <h2>Lobby</h2>
    <table>
        <tr>
            <th>Join game as</th>
            <th>Points</th>
        </tr>
        <tr th:each="player : ${players}">
            <td>
                <a th:href="${'/game?sessionId='+sessionId+'&playerName='+player.name}" th:text="${player.name}"></a>
            </td>
            <td th:text="${scoreboard.get(player.name)}"></td>
        </tr>
    </table>

    <br>
    <a th:href="${'/'}">Go back home.</a>
</body>
</html>
